openapi: 3.0.3
info:
  contact:
    email: support@intellihr.co
    name: Customer Support
  description: "You can find developer's guide and more documentation on [https://developers.intellihr.io](https://developers.intellihr.io)"
  title: intelliHR Public API
  version: V1
  x-logo:
    url: https://production-assetsbucket-gdzw9b97vxr2.s3.amazonaws.com/images/logos/IntelliHR-on-White-RGB-border.png
    altText: intelliHR logo
    href: https://intellihr.com
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- description: Live Server
  url: https://api.intellihr.io/v1
security:
- ApiKey: []
tags:
- description: "[Business Entities](https://developers.intellihr.io/docs/v1/) represent\
    \ the legal entities which exist within the organisation. A [Business Entity](https://developers.intellihr.io/docs/v1/)\
    \ can be used as a filter for automation logic (eg Pulse configuration) and as\
    \ a dimension in the analytics tools. Every [Job](https://developers.intellihr.io/docs/v1/)\
    \ in the system belongs to a [Business Entity](https://developers.intellihr.io/docs/v1/)."
  name: Business Entities
- description: "The administrative units that exist within the organisation. Used\
    \ to render the org chart business unit view. For example, \"Finance\", \"HR\"\
    , or \"Information Technology\". [Business Units](https://developers.intellihr.io/docs/v1/)\
    \ can be configured as text strings with parent -> child relationships. Every\
    \ [Job](https://developers.intellihr.io/docs/v1/) in the system belongs to a [Business\
    \ Unit](https://developers.intellihr.io/docs/v1/)."
  name: Business Units
- description: "Custom Field Definitions can be used to attach extra data fields to\
    \ particular models in the system such as [Training](https://developers.intellihr.io/docs/v1/)."
  name: Custom Field Definitions
- description: "[Job Change Reasons](https://developers.intellihr.io/docs/v1/) are\
    \ used in the system to document the reason for changes to a [Job](https://developers.intellihr.io/docs/v1/)."
  name: Job Change Reasons
- description: "[Job Requirement Groups](https://developers.intellihr.io/docs/v1/)\
    \ are qualification requirements that a job must fulfill."
  name: Job Requirement Groups
- description: "Locations can be configured as text strings with parent -> child relationships.\
    \ For example, `Australia` -> `Brisbane` -> `Spring Hill Head Office`. These locations\
    \ are used for filtering in analytics. Every [Job](https://developers.intellihr.io/docs/v1/)\
    \ in the system belongs to a [Location](https://developers.intellihr.io/docs/v1/)\
    \ or the `No Location` Location."
  name: Locations
- description: "Pay Grades are optional attributes applied to a job to provide a salary\
    \ range for analytical purposes. These are configurable for admins in the intelliHR\
    \ application. Every [Job](https://developers.intellihr.io/docs/v1/) in the system\
    \ belongs to a [Pay Grade](https://developers.intellihr.io/docs/v1/) or the `No\
    \ Pay Grade` Pay Grade."
  name: Pay Grades
- description: "[People Skills](https://developers.intellihr.io/docs/v1/) are used\
    \ to assign and update [Skills](https://developers.intellihr.io/docs/v1/) to an\
    \ existing [Person](https://developers.intellihr.io/docs/v1/)."
  name: People Skills
- description: "[Qualification Instance](https://developers.intellihr.io/docs/v1/)\
    \ represents an instance of a qualification library item."
  name: Qualification Instances
- description: "[Qualification Library Item](https://developers.intellihr.io/docs/v1/)\
    \ represent a type of qualification. E.g. A Drivers license."
  name: Qualification Library Items
- description: "[Trainings](https://developers.intellihr.io/docs/v1/) are used in\
    \ the system to store details about individual training events."
  name: Trainings
- description: "[Webhooks](https://developers.intellihr.io/docs/v1/) are used in the\
    \ system to allow developers and integration platforms (such as [Zapier](https://zapier.com/))\
    \ to subscribe to a [Webhook Event](https://developers.intellihr.io/docs/v1/),\
    \ such as a person.updated or person.created event.\n\nWhen the [Webhook Event](https://developers.intellihr.io/docs/v1/)\
    \ is triggered, the system will send a payload to the endpoint specified when\
    \ creating the [Webhook](https://developers.intellihr.io/docs/v1/).\n\nThese [Webhooks](https://developers.intellihr.io/docs/v1/)\
    \ follow the [Rest Hook](https://resthooks.org/) pattern.\n\n# Event Types\nThe\
    \ following properties are always returned for every payload and event type. An\
    \ event type may include more properties than this.<br>\nPlease check the specific\
    \ event/s you would like to implement for the full schema.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookEvent\" />\n\n## job.created\nFired\
    \ when a job has been created.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookJobCreated\"\
    \ />\n\n## job.deleted\nFired when a job has been deleted.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookJobDeleted\" />\n\n## job.updated\n\
    **This event does not fire anymore, please update your implementation.**<br>\n\
    ~~Fired when a job has been updated.~~\n\n## job.update_scheduled\nFired when\
    \ an update has been scheduled for a job.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookEventJobUpdatedScheduled\"\
    \ />\n\n## job.timeline_updated\nFired on the day when an update of the job has\
    \ taken into effect.\n\nEg. if a job update is scheduled for 31/03/2025, this\
    \ event will fire on 31/03/2025. Similarly, if there is a job update in the present\
    \ date, this event also will fire.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookJobTimelineUpdated\"\
    \ />\n\n## job.ended\nFired when when the job has been ended.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookJobEnded\" />\n\n## job.end_date_adjusted\n\
    Fires when when the job end date has been adjusted, but before being finalised.\n\
    <SchemaDefinition schemaRef=\"#/components/schemas/webhookJobEndDateAdjusted\"\
    \ />\n\n## job.end_date_finalised\nFired when when the job end date has been finalised.\n\
    <SchemaDefinition schemaRef=\"#/components/schemas/webhookJobEndDateFinalised\"\
    \ />\n\n## job.end_date_cancelled\nFired when when a job end date that had been\
    \ finalised, was cancelled.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookJobEndDateCancelled\"\
    \ />\n\n## job.effective_dates_updated\nFires when when the effective dates of\
    \ the job have been updated.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookJobEffectiveDatesUpdated\"\
    \ />\n\n## job.company_start_date_upcoming\nFires at set offsets before and including\
    \ the job company start date.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookJobStartDateUpcoming\"\
    \ />\n\n## job_remuneration.update_scheduled\nFired when an update has been scheduled\
    \ for a jobs remuneration.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookEventJobRemUpdatedScheduled\"\
    \ />\n\n## person.birthday_upcoming\nFired at certain intervals before a persons\
    \ birthday and the date of their birthday.\nIntervals are 1 month before, 14 days\
    \ before, 7 days before, 3 days before, 1 day before and on the day of.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookEventPersonBirthdayUpcoming\" />\n\n\
    ## person.created\nFired when a person has been created.\n<SchemaDefinition schemaRef=\"\
    #/components/schemas/webhookEventBasic\" />\n\n## person.deleted\nFired when a\
    \ person has been deleted.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookPersonDeleted\"\
    \ />\n\n## person.updated\nFired when a person has been updated.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookEventPersonUpdated\" />\n\n## training.created\n\
    Fired when a training is created.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookTrainingCreated\"\
    \ />\n\n## training.deleted\nFired when a training has been deleted.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookTrainingDeleted\" />\n\n## training.updated\n\
    Fired when a training has been updated.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookTrainingUpdated\"\
    \ />\n\n## form.created\nFired when an instance of a form has been created.\n\
    <SchemaDefinition schemaRef=\"#/components/schemas/webhookFormCreated\" />\n\n\
    ## form.completed\nFired when a instance of a form has been completed.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookEventFormCompleted\" />\n\n## user.created\n\
    Fired when a user has been created.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookUserCreated\"\
    \ />\n\n## user.deleted\nFired when a user has been deleted.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookUserDeleted\" />\n\n## user.disabled\n\
    Fired when a user has been disabled.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookUserDisabled\"\
    \ />\n\n## user.disabled_upcoming\nFired at set offsets before the user is scheduled\
    \ to be disabled.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookUserDisabledUpcoming\"\
    \ />\n\n## user.updated\nFired when a user has been updated.\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/webhookUserUpdated\" />\n\n## qualification.instance_created\n\
    Fired when a qualification instance has been created.\n<SchemaDefinition schemaRef=\"\
    #/components/schemas/webhookQualificationCreated\" />\n\n## qualification.instance_updated\n\
    Fired when a qualification instance has been updated.\n<SchemaDefinition schemaRef=\"\
    #/components/schemas/webhookQualificationUpdated\" />\n  "
  name: Webhooks
- description: |-
    The Job object is the core data object for past, current and future roles that a Person holds in the organisation. A Person can have more than one Job at a point in time to represent secondment / role sharing.<br/>
        The data returned from this endpoint represents the data at this current time, which may change over time due to scheduled changes. This endpoint returns the [Job's](https://developers.intellihr.io/docs/v1/) Remuneration Schedule. <br/>
        Establishment fields are currently in testing and require your tenant to be flagged for usage.
  name: Jobs
- description: "People represent the base objects in the intelliHR data model. All\
    \ past, present and future employees should be created as a Person and then have\
    \ a Job created which references that Person object. Contact information for the\
    \ employee (eg emergency contact, phone numbers, email addresses, etc) is referenced\
    \ to the Person object. While Jobs can have scheduled updates which will take\
    \ effect in the future, People are always static in the system and will not change\
    \ unless updated."
  name: People
- description: "Position Titles that exist within the organisation. Position Title\
    \ are assigned to [Jobs](https://developers.intellihr.io/docs/v1/)."
  name: Position Titles
- description: "[Skills](https://developers.intellihr.io/docs/v1/) are used to catalogue\
    \ the Skills available in the organisation and whether they are business critical.\
    \  Skills are categorised into groups with each belonging to a parent [Skill Discipline](https://developers.intellihr.io/docs/v1/).\
    \  Skills can be assigned to a [Person](https://developers.intellihr.io/docs/v1/)\
    \ to facilitate the tracking of competencies across teams and the organisation."
  name: Skills
- description: "Skill Disciplines that exist within the organisation. Skill Disciplines\
    \ are used to categorise [Skills](https://developers.intellihr.io/docs/v1/) and\
    \ can contain multiple child skills."
  name: Skill Disciplines
- description: |-
    A [User](https://developers.intellihr.io/docs/v1/) account gives employees access to the intelliHR platform and is linked to an existing Person.
      A Person can exist without a User, as employees can still complete tasks sent to their primary email address.
  name: Users
- description: "[People Images](https://developers.intellihr.io/docs/v1/) are used\
    \ to assign and update Images to an existing [Person](https://developers.intellihr.io/docs/v1/)."
  name: People Images
- description: "[People Document](https://developers.intellihr.io/docs/v1/) is an\
    \ object which represents the document stored in the \"Documents\" tab in Person\
    \ Profile in intelliHR system. You can upload a document through this API by following\
    \ the steps below. <p>1. Create a presigned upload URL which enables you to upload\
    \ a document to S3 by using [Create a presigned upload URL](https://developers.intellihr.io/docs/v1/)\
    \ endpoint. <br/>2. Upload a document to the S3 presigned URL with HTTP PUT method.\
    \ <br/>3. Mark the upload status successful with [Update a Document](https://developers.intellihr.io/docs/v1/)\
    \ endpoint.</p>These steps can be automatically handled by [Zapier](https://zapier.com/apps/intellihr/integrations)\
    \ \"Upload Person Document\" action."
  name: People Documents
- description: "[Default Remuneration Components](https://developers.intellihr.io/docs/v1/)\
    \ are the organization-wide remuneration components for both additions and breakdowns."
  name: Default Remuneration Components
- description: "Employment conditions are the conditions under which someone is paid\
    \ for their remuneration schedule. Every [Job](https://developers.intellihr.io/docs/v1/)\
    \ in the system belongs to a [Employment Condition](https://developers.intellihr.io/docs/v1/)\
    \ or the `No Employment Condition` Employment Condition."
  name: Employment Conditions
- description: "[Extended Leave](https://developers.intellihr.io/docs/v1/) can be\
    \ added to an existing [Job](https://developers.intellihr.io/docs/v1/).  Only\
    \ one Extended Leave without a confirmed return date can on a Job at any one time."
  name: Extended Leave
- description: "[Extended Leave Types](https://developers.intellihr.io/docs/v1/) are\
    \ used in the system when adding [Extended Leave](https://developers.intellihr.io/docs/v1/)\
    \ to a Job."
  name: Extended Leave Types
- description: Set and finalise the end date of a job. Finalising a job changes it
    to a past job on the end date.
  name: End Job
- description: "[Permission Groups](https://developers.intellihr.io/docs/v1/)."
  name: Permission Groups
- description: "Note that this has been <b>deprecated</b>, it is recommended to use\
    \ [People Document](https://developers.intellihr.io/docs/v1/)</br>[Person Document](https://developers.intellihr.io/docs/v1/)\
    \ is an object which represents the document stored in the \"Documents\" tab in\
    \ Person Profile in intelliHR system. You can upload a document through this API\
    \ by following the steps below. <p>1. Create a presigned upload URL which enables\
    \ you to upload a document to S3 by using [Create a presigned upload URL](https://developers.intellihr.io/docs/v1/)\
    \ endpoint. <br/>2. Upload a document to the S3 presigned URL with HTTP PUT method.\
    \ <br/>3. Mark the upload status successful with [Update a Document](https://developers.intellihr.io/docs/v1/)\
    \ endpoint.</p>These steps can be automatically handled by [Zapier](https://zapier.com/apps/intellihr/integrations)\
    \ \"Upload Person Document\" action."
  name: Person Documents (deprecated)
- description: "[Qualification Type](https://developers.intellihr.io/docs/v1/) represent\
    \ a type of qualification. E.g. A License"
  name: Qualification Types
- description: "Recruitment sources refer to the origin of this employee, such as\
    \ a job board or a recruitment agency. These are configured as text strings in\
    \ the intelliHR application and are used as filters for analytical purposes. [Recruitment\
    \ Sources](https://developers.intellihr.io/docs/v1/) can be configured as text\
    \ strings with parent -> child relationships."
  name: Recruitment Sources
- description: "[Representative Type](https://developers.intellihr.io/docs/v1/) represent\
    \ a type of representative for a certain intelliHR Object type."
  name: Representative Types
- description: "[Training Providers](https://developers.intellihr.io/docs/v1/) are\
    \ used in the system to document what/who provided the [Training](https://developers.intellihr.io/docs/v1/)."
  name: Training Providers
- description: "[Training Types](https://developers.intellihr.io/docs/v1/) are used\
    \ in the system to document the category of a [Training](https://developers.intellihr.io/docs/v1/)\
    \ record."
  name: Training Types
- description: "Work Classes are a sub-class of Work Types. For example, the `Permanent`\
    \ Work Type has both `Full-Time` and `Part-Time` Work Classes. These are used\
    \ for to configure automation and analytics filters. Every [Job](https://developers.intellihr.io/docs/v1/)\
    \ in the system belongs to a [Work Class](https://developers.intellihr.io/docs/v1/)."
  name: Work Classes
- description: "[Work Rights](https://developers.intellihr.io/docs/v1/) are the organization-wide\
    \ work rights."
  name: Work Rights
- description: "Work Types represent the primary work classification for a job. It\
    \ is one of the types `Permanent`, `Fixed Contract`, `Unpaid` or `Temporary/Casual`.\
    \ This attribute is always used with the Work Class attribute which is a sub class\
    \ of Work Type. Every [Job](https://developers.intellihr.io/docs/v1/) in the system\
    \ belongs to a [Work Type](https://developers.intellihr.io/docs/v1/)."
  name: Work Types
- description: |-
    [Webhook Events](https://developers.intellihr.io/docs/v1/) are hardcoded events which occur within the intelliHR platform which can be subscribed to using [Webhooks](https://developers.intellihr.io/docs/v1/).

      As an example, person.created is a [Webhook Event](https://developers.intellihr.io/docs/v1/), which can trigger a [Webhook](https://developers.intellihr.io/docs/v1/) when a [Person](https://developers.intellihr.io/docs/v1/) is created within the platform.
  name: Webhook Events
- description: "[Forms](https://developers.intellihr.io/docs/v1/) represent the actionable\
    \ forms which exist within the organisation and are sent to the users of the system."
  name: Forms
- description: "[Job Timeline](https://developers.intellihr.io/docs/v1/) show upcoming\
    \ changes and current information about a [Job](https://developers.intellihr.io/docs/v1/)."
  name: Job Timeline
- description: "[Qualification Status](https://developers.intellihr.io/docs/v1/) represents\
    \ the current status of the qualification instance."
  name: Qualification Statuses
- description: "[Training Statuses](https://developers.intellihr.io/docs/v1/) are\
    \ used in the system to define the progress of a [Training](https://developers.intellihr.io/docs/v1/)\
    \ record."
  name: Training Statuses
- description: |-
    A [Workflow Events](https://developers.intellihr.io/docs/v1/) is a triggered event within the intelliHR platform, associated to certain events such as job changes (eg onboarding, offboarding, going on extended leave), or by specific events (eg a training event).

    [Workflows](https://developers.intellihr.io/docs/v1/) can be created within intelliHR and assigned under a specific Workflow Event.
  name: Workflow Events
- description: |-
    A [Workflow](https://developers.intellihr.io/docs/v1/) is a pre-set schedule of tasks that will be assigned to various people at different points in time.

    They are triggered by an action within the system and all the tasks created relate to a single subject person.
    Workflows use the date of an action or change in the system as a starting point to calculate when forms are assigned. Multiple WorkFlows can be part of the same [Workflow Event](https://developers.intellihr.io/docs/v1/).
  name: Workflows
paths:
  /business-entities:
    get:
      description: "Returns a list of all [Business Entities](https://developers.intellihr.io/docs/v1/)."
      operationId: BusinessEntities_listAll
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-entities_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all Business Entities
      tags:
      - Business Entities
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--business-entities
      x-accepts: application/json
    post:
      description: "Returns the created [Business Entity](https://developers.intellihr.io/docs/v1/)."
      operationId: BusinessEntities_createNewEntity
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: IntelliHR
              code: BE001
              legalName: IntelliHR Systems Limited
              number: 00 000 000 000
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
            schema:
              $ref: '#/components/schemas/business-entities_create_request'
            x-konfig-original-example:
              name: IntelliHR
              code: BE001
              legalName: IntelliHR Systems Limited
              number: 00 000 000 000
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-entities'
          description: Created Successfully
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Create a new Business Entity
      tags:
      - Business Entities
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--business-entities
      x-content-type: application/json
      x-accepts: application/json
  /business-entities/{id}:
    delete:
      description: "Deletes the [Business Entity](https://developers.intellihr.io/docs/v1/)'s\
        \ by the given ID."
      operationId: BusinessEntities_deleteById
      parameters: []
      responses:
        "204":
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Delete a Business Entity by ID
      tags:
      - Business Entities
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--business-entities-id
      x-accepts: application/json
    get:
      description: "Returns a single [Business Entity](https://developers.intellihr.io/docs/v1/)\
        \ by its identifier."
      operationId: BusinessEntities_findById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-entities'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find a Business Entity by ID
      tags:
      - Business Entities
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--business-entities-id
      x-accepts: application/json
    patch:
      description: "Returns the updated [Business Entity](https://developers.intellihr.io/docs/v1/)."
      operationId: BusinessEntities_updateById
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: IntelliHR
              code: BE001
              legalName: IntelliHR Systems Limited
              number: 00 000 000 000
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
            schema:
              $ref: '#/components/schemas/business-entities_patch_request'
            x-konfig-original-example:
              name: IntelliHR
              code: BE001
              legalName: IntelliHR Systems Limited
              number: 00 000 000 000
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-entities'
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Update a Business Entity by ID
      tags:
      - Business Entities
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--business-entities-id
      x-content-type: application/json
      x-accepts: application/json
  /business-units:
    get:
      description: "Returns a list of all [Business Units](https://developers.intellihr.io/docs/v1/)\
        \ recorded in the system."
      operationId: BusinessUnits_listAll
      parameters:
      - description: "Filters can be applied in the query string to limit the data\
          \ returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`.For\
          \ example, a filter to get items matching a specific filter value would\
          \ be `filters[identifier][eq]=Engineering`\n\rBelow is a list of operation\
          \ types available on filters, note that each filter may not support every\
          \ type:\n\r• Equality `[eq]`: Checks for an exact match with the given filter\
          \ value\n\rThe list of supported filters is given below."
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/BusinessUnits_listAll_filters_parameter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-units_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all Business Units
      tags:
      - Business Units
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--business-units
      x-accepts: application/json
    post:
      description: "Returns the created [Business Unit](https://developers.intellihr.io/docs/v1/)."
      operationId: BusinessUnits_createNewUnit
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: Engineering
              code: BE001
              parentId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
            schema:
              $ref: '#/components/schemas/business-units_create_request'
            x-konfig-original-example:
              name: Engineering
              code: BE001
              parentId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-units'
          description: Created Successfully
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Create a new Business Unit
      tags:
      - Business Units
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--business-units
      x-content-type: application/json
      x-accepts: application/json
  /business-units/{id}:
    delete:
      description: "Deletes the [Business Unit](https://developers.intellihr.io/docs/v1/)'s\
        \ by the given ID."
      operationId: BusinessUnits_deleteById
      parameters: []
      responses:
        "204":
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Delete a Business Unit by ID
      tags:
      - Business Units
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--business-units-id
      x-accepts: application/json
    get:
      description: "Returns a single [Business Unit](https://developers.intellihr.io/docs/v1/)."
      operationId: BusinessUnits_findById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-units'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find a Business Unit by ID
      tags:
      - Business Units
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--business-units-id
      x-accepts: application/json
    patch:
      description: "Returns the updated [Business Unit](https://developers.intellihr.io/docs/v1/)."
      operationId: BusinessUnits_updateById
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: Engineering
              code: BE001
              parentId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
            schema:
              $ref: '#/components/schemas/business-units_patch_request'
            x-konfig-original-example:
              name: Engineering
              code: BE001
              parentId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-units'
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Update a Business Unit by ID
      tags:
      - Business Units
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--business-units-id
      x-content-type: application/json
      x-accepts: application/json
  /custom-field-definitions:
    get:
      description: Returns a list of all Custom Field Definitions.
      operationId: CustomFieldDefinitions_listAll
      parameters:
      - description: "Filters can be applied in the query string to limit the data\
          \ returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`.For\
          \ example, a filter to get items matching a specific filter value would\
          \ be `filters[modelType][eq]=TRAINING`\n\rBelow is a list of operation types\
          \ available on filters, note that each filter may not support every type:\n\
          \r• Equality `[eq]`: Checks for an exact match with the given filter value\n\
          \rThe list of supported filters is given below."
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/CustomFieldDefinitions_listAll_filters_parameter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field-definitions_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all Custom Field Definitions
      tags:
      - Custom Field Definitions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--custom-field-definitions
      x-accepts: application/json
    post:
      description: "Returns the created [Custom Field Definition](https://developers.intellihr.io/docs/v1/)"
      operationId: CustomFieldDefinitions_createDefinition
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom-field-definition_create_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field-definitions'
          description: Created Successfully
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Create a Custom Field Definition
      tags:
      - Custom Field Definitions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--custom-field-definitions
      x-content-type: application/json
      x-accepts: application/json
  /custom-field-definitions/{id}:
    delete:
      description: "Deletes the [Custom Field Definition](https://developers.intellihr.io/docs/v1/)\
        \ by the given ID."
      operationId: CustomFieldDefinitions_deleteById
      parameters: []
      responses:
        "204":
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Delete a Custom Field Definition by ID
      tags:
      - Custom Field Definitions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--custom-field-definitions-id
      x-accepts: application/json
    get:
      description: Returns a single Custom Field Definition.
      operationId: CustomFieldDefinitions_findDefinitionById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field-definitions'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find a Custom Field Definition by ID
      tags:
      - Custom Field Definitions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--custom-field-definitions-id
      x-accepts: application/json
    patch:
      description: "Returns the updated [Custom Field Definition](https://developers.intellihr.io/docs/v1/)"
      operationId: CustomFieldDefinitions_updateDefinitionById
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom-field-definition_patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field-definitions'
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Update a Custom Field Definition
      tags:
      - Custom Field Definitions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--custom-field-definitions-id
      x-content-type: application/json
      x-accepts: application/json
  /default-remuneration-components:
    get:
      description: "Returns a list of all [Default Remuneration Components](https://developers.intellihr.io/docs/v1/)\
        \ recorded in the system."
      operationId: DefaultRemunerationComponents_listAll
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-remuneration-components_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all Default Remuneration Components
      tags:
      - Default Remuneration Components
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--default-remuneration-components
      x-accepts: application/json
  /default-remuneration-components/{id}:
    get:
      description: Returns a single default remuneration component.
      operationId: DefaultRemunerationComponents_findById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-remuneration-components'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find a Default Remuneration Component by ID
      tags:
      - Default Remuneration Components
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--default-remuneration-components-id
      x-accepts: application/json
  /employment-conditions:
    get:
      description: Returns a list of all employment conditions.
      operationId: EmploymentConditions_listAllEmploymentConditions
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employment-conditions_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all employment conditions
      tags:
      - Employment Conditions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--employment-conditions
      x-accepts: application/json
  /employment-conditions/{id}:
    get:
      description: Returns a single employment condition.
      operationId: EmploymentConditions_findById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employment-conditions'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find an Employment Condition by ID
      tags:
      - Employment Conditions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--employment-conditions-id
      x-accepts: application/json
  /extended-leave:
    post:
      description: Create a new Extended Leave on an existing Job.
      operationId: ExtendedLeave_createNew
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/leave_create_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/leave_create_response'
          description: Created Successfully
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Create Extended Leave
      tags:
      - Extended Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--extended-leave
      x-content-type: application/json
      x-accepts: application/json
  /extended-leave/{id}:
    patch:
      description: Update or Finalise an existing Extended Leave.
      operationId: ExtendedLeave_updateFinalise
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/leave_update_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/leave_update_response'
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Update or Finalise Extended Leave
      tags:
      - Extended Leave
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--extended-leave-id
      x-content-type: application/json
      x-accepts: application/json
  /extended-leave-types:
    get:
      description: Returns a list of all Extended Leave Types.
      operationId: ExtendedLeaveTypes_listAll
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extended-leave-types_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all Extended Leave Types
      tags:
      - Extended Leave Types
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--extended-leave-types
      x-accepts: application/json
  /extended-leave-types/{id}:
    get:
      description: Returns a single Extended Leave Type.
      operationId: ExtendedLeaveTypes_findById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extended-leave-types'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find an Extended Leave Type by ID
      tags:
      - Extended Leave Types
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--extended-leave-types-id
      x-accepts: application/json
  /forms/{id}:
    get:
      description: "Returns a single [Form](https://developers.intellihr.io/docs/v1/)\
        \ instance by its identifier."
      operationId: Forms_findById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  issueDate: 2015-03-01T22:30:00+00:00
                  dueDate: 2015-03-01T22:30:00+00:00
                  reminderDate: 2015-03-01T22:30:00+00:00
                  accessCode: ABCDE12345
                  completedAt: 2015-03-01T22:30:00+00:00
                  formDesign:
                    id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                    name: Self Assessment
                  subject:
                    job:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Janitor
                      link: https://api.intellihr.io/v1/jobs/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      displayName: Batman (Bruce) Wayne
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: 1000
                      link: https://api.intellihr.io/v1/people/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                  respondent: null
                  submitter:
                    job:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Janitor
                      link: https://api.intellihr.io/v1/jobs/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      displayName: Batman (Bruce) Wayne
                      emailAddresses:
                      - email: bruce.wayne@batman.org
                        isPrimary: true
                        isPersonal: true
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: 1000
                      link: https://api.intellihr.io/v1/people/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                  answers:
                  - fieldId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    question: Please answer this text based question
                    value:
                    - My answer
                    label:
                    - My answer
                  - fieldId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    question: Please select multiple options
                    value:
                    - "0"
                    - "1"
                    label:
                    - Option 1
                    - Option 2
                  documentUploads:
                  - id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                    url: "http://{tenant}.internihr.ninja/api/domain/people/6ced7aed-adeb-4645-896a-5eaa21f4bf6e/attachments/0f1d4fb7-ef1b-4ca5-908f-1c73f489be04/download"
                meta:
                  asAt: 2015-03-01T22:30:00+00:00
                  requestId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              schema:
                $ref: '#/components/schemas/forms'
              x-konfig-original-example:
                data:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  issueDate: 2015-03-01T22:30:00+00:00
                  dueDate: 2015-03-01T22:30:00+00:00
                  reminderDate: 2015-03-01T22:30:00+00:00
                  accessCode: ABCDE12345
                  completedAt: 2015-03-01T22:30:00+00:00
                  formDesign:
                    id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                    name: Self Assessment
                  subject:
                    job:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Janitor
                      link: https://api.intellihr.io/v1/jobs/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      displayName: Batman (Bruce) Wayne
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: 1000
                      link: https://api.intellihr.io/v1/people/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                  submitter:
                    job:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Janitor
                      link: https://api.intellihr.io/v1/jobs/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      displayName: Batman (Bruce) Wayne
                      emailAddresses:
                      - email: bruce.wayne@batman.org
                        isPrimary: true
                        isPersonal: true
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: 1000
                      link: https://api.intellihr.io/v1/people/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                  answers:
                  - fieldId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    question: Please answer this text based question
                    value:
                    - My answer
                    label:
                    - My answer
                  - fieldId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    question: Please select multiple options
                    value:
                    - "0"
                    - "1"
                    label:
                    - Option 1
                    - Option 2
                  documentUploads:
                  - id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                    url: "http://{tenant}.internihr.ninja/api/domain/people/6ced7aed-adeb-4645-896a-5eaa21f4bf6e/attachments/0f1d4fb7-ef1b-4ca5-908f-1c73f489be04/download"
                meta:
                  asAt: 2015-03-01T22:30:00+00:00
                  requestId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find a Form by ID
      tags:
      - Forms
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--forms-id
      x-accepts: application/json
  /job-change-reasons:
    get:
      description: "Returns a list of all [Job Change Reasons](https://developers.intellihr.io/docs/v1/)\
        \ recorded in the system."
      operationId: JobChangeReasons_listAll
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-change-reasons_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all Job Change Reasons
      tags:
      - Job Change Reasons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--job-change-reasons
      x-accepts: application/json
    post:
      description: "Returns the created [Job Change Reason](https://developers.intellihr.io/docs/v1/)."
      operationId: JobChangeReasons_createNewReason
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: Engineering
              isEnabled: true
            schema:
              $ref: '#/components/schemas/job-change-reasons_create_request'
            x-konfig-original-example:
              name: Engineering
              isEnabled: true
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-change-reasons'
          description: Created Successfully
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Create a new Job Change Reason
      tags:
      - Job Change Reasons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--job-change-reasons
      x-content-type: application/json
      x-accepts: application/json
  /job-change-reasons/{id}:
    delete:
      description: "Deletes the [Job Change Reason](https://developers.intellihr.io/docs/v1/)'s\
        \ by the given ID."
      operationId: JobChangeReasons_deleteById
      parameters: []
      responses:
        "204":
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Delete a Job Change Reason by ID
      tags:
      - Job Change Reasons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--job-change-reasons-id
      x-accepts: application/json
    get:
      description: "Returns a single [Job Change Reason](https://developers.intellihr.io/docs/v1/)."
      operationId: JobChangeReasons_findById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-change-reasons'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find a Job Change Reason by ID
      tags:
      - Job Change Reasons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--job-change-reasons-id
      x-accepts: application/json
    patch:
      description: "Returns the updated [Job Change Reason](https://developers.intellihr.io/docs/v1/)."
      operationId: JobChangeReasons_updateById
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: Engineering
              isEnabled: true
            schema:
              $ref: '#/components/schemas/job-change-reasons_patch_request'
            x-konfig-original-example:
              name: Engineering
              isEnabled: true
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-change-reasons'
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Update a Job Change Reason by ID
      tags:
      - Job Change Reasons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--job-change-reasons-id
      x-content-type: application/json
      x-accepts: application/json
  /job-requirement-groups:
    get:
      description: ""
      operationId: JobRequirementGroups_listAll
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-requirement-groups_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all Job Requirement Groups
      tags:
      - Job Requirement Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--job-requirement-groups
      x-accepts: application/json
    post:
      description: "Create a new [Job Requirement Group](https://developers.intellihr.io/docs/v1/)\
        \ record with the provided data."
      operationId: JobRequirementGroups_createNewGroup
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: ABCDE12345
              libraryItemIds:
              - 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
            schema:
              $ref: '#/components/schemas/job-requirement-groups_create_request'
            x-konfig-original-example:
              name: ABCDE12345
              libraryItemIds:
              - 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-requirement-groups'
          description: Created Successfully
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Create a new Job Requirement Group
      tags:
      - Job Requirement Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--job-requirement-groups
      x-content-type: application/json
      x-accepts: application/json
  /job-requirement-groups/{id}:
    delete:
      description: "Deletes the [Job Requirement Group](https://developers.intellihr.io/docs/v1/)\
        \ by the given ID."
      operationId: JobRequirementGroups_deleteById
      parameters: []
      responses:
        "204":
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Delete a Job Requirement Group by ID
      tags:
      - Job Requirement Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--job-requirement-groups-id
      x-accepts: application/json
    get:
      description: "Returns a single [Job Requirement Group](https://developers.intellihr.io/docs/v1/)\
        \ by its identifier."
      operationId: JobRequirementGroups_findById
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  name: ABCDE12345
                  libraryItems:
                  - id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                    link: https://api.intellihr.io/v1/qualification-library-items/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                meta:
                  asAt: 2015-03-01T22:30:00+00:00
                  requestId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              schema:
                $ref: '#/components/schemas/job-requirement-groups'
              x-konfig-original-example:
                data:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  name: ABCDE12345
                  libraryItems:
                  - id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                    link: https://api.intellihr.io/v1/qualification-library-items/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                meta:
                  asAt: 2015-03-01T22:30:00+00:00
                  requestId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find a Job Requirement Group by ID
      tags:
      - Job Requirement Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--job-requirement-groups-id
      x-accepts: application/json
    patch:
      description: "Patch attributes of an existing [Job Requirement Group](https://developers.intellihr.io/docs/v1/)\
        \ record with the provided data."
      operationId: JobRequirementGroups_updateAttributes
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: ABCDE12345
              libraryItemIds:
              - 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
            schema:
              $ref: '#/components/schemas/job-requirement-groups_patch_request'
            x-konfig-original-example:
              name: ABCDE12345
              libraryItemIds:
              - 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-requirement-groups'
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Patch an existing Job Requirement Group
      tags:
      - Job Requirement Groups
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--job-requirement-groups-id
      x-content-type: application/json
      x-accepts: application/json
  /job-end/{id}:
    delete:
      description: "If a job end date has been finalised, this will cancel the finalisation"
      operationId: EndJob_cancelEndDate
      parameters:
      - description: "Whether to cancel the disabling of the users account upon the\
          \ job end date, if user doesn't exist the Boolean has no effect yet the\
          \ request will still succeed."
        example: "true"
        explode: true
        in: query
        name: cancelDisablingUserAccount
        required: false
        style: form
        x-konfig-original-example: "true"
        x-konfig-generated-schema: konfig-generated-schema-paths--job-end-id-delete-parameters-1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job_end_remove_response'
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Cancel job end date
      tags:
      - End Job
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--job-end-id
      x-accepts: application/json
    patch:
      description: "Set an end date, and finalise a job."
      operationId: EndJob_jobFinalize
      parameters:
      - description: "If true, do not finalise the job."
        example: "true"
        explode: true
        in: query
        name: shouldNotFinaliseEndDate
        required: false
        style: form
        x-konfig-original-example: "true"
        x-konfig-generated-schema: konfig-generated-schema-paths--job-end-id-patch-parameters-1
      - description: "If true, keeps the user account when finalising the job."
        example: "true"
        explode: true
        in: query
        name: shouldRetainUserAccount
        required: false
        style: form
        x-konfig-original-example: "true"
        x-konfig-generated-schema: konfig-generated-schema-paths--job-end-id-patch-parameters-2
      - description: "When true, no events will be fired from this action"
        example: "true"
        explode: true
        in: query
        name: suppressEvents
        required: false
        style: form
        x-konfig-original-example: "true"
        x-konfig-generated-schema: konfig-generated-schema-paths--job-end-id-patch-parameters-3
      requestBody:
        content:
          application/json:
            example:
              endDate: 2015-03-01T22:30:00+00:00
              reassignDirectReportsTo: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              turnoverType: involuntary
              turnoverReason: Medical reasons
            schema:
              $ref: '#/components/schemas/job_end_patch_request'
            x-konfig-original-example:
              endDate: 2015-03-01T22:30:00+00:00
              reassignDirectReportsTo: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              turnoverType: involuntary
              turnoverReason: Medical reasons
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job_end_patch_response'
          description: Success
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: End a job
      tags:
      - End Job
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--job-end-id
      x-content-type: application/json
      x-accepts: application/json
  /jobs:
    get:
      description: "Returns a list of all [Job](https://developers.intellihr.io/docs/v1/)\
        \ entity records as at the current date."
      operationId: Jobs_getAll
      parameters:
      - description: "Filters can be applied in the query string to limit the data\
          \ returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`.For\
          \ example, a filter to get items matching a specific filter value would\
          \ be `filters[personId][eq]=dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12`\n\
          \rBelow is a list of operation types available on filters, note that each\
          \ filter may not support every type:\n\r• Equality `[eq]`: Checks for an\
          \ exact match with the given filter value\n\rThe list of supported filters\
          \ is given below."
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/Jobs_getAll_filters_parameter'
        style: form
      - description: "Sorting can be applied in the query string to order the data\
          \ returned from this endpoint. Sort can be prepended with a minus to return\
          \ the data in descending (-) order. For example, a sort to get the most\
          \ recent records first would be `-createdAt`."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: "Enum: `createdAt`."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobs_list'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: List all Jobs
      tags:
      - Jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--jobs
      x-accepts: application/json
    post:
      description: Create a new Job record with the provided data.
      operationId: Jobs_createRecord
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              person:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: "00001"
                autoIncrementIntellihrId: "1000"
              companyStartDate: 2015-03-01T22:30:00+00:00
              companyEndDate: 2015-03-01T22:30:00+00:00
              name: Food Scientist
              businessEntity:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: IntelliHR
                legalName: IntelliHR Systems Limited
                number: 00 000 000 000
              businessUnit:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Engineering
              establishment:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: NewCo Software Engineer
              supervisorPerson:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: "00001"
                autoIncrementIntellihrId: "1000"
              supervisorJob:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Janitor
              location:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Brisbane Office
                address: "1234 Queen Street, Brisbane City QLD 4000"
              workClass:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Casual
              workType:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Permanent
              fte: "1"
              payGrade:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                code: L0
                name: Founder
              employmentCondition:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Professional Employees Award 2010
                awardName: "MA000065: Professional Employees Award 2010 - Fair Work\
                  \ Commission"
              remunerationSchedule:
                type: Annual Salary
                payCycle: Fortnightly
                currency: AUD
                hoursPerCycle: 80
                baseAnnualSalary: 50000
                baseHourlyRate: 24
                additions:
                - name: Referral Bonus
                  type: FixedAmount
                  value: "200"
                  defaultRemunerationComponent:
                    name: Referral Bonus
                additionsToTotal:
                - name: Superannuation
                  type: MultipleOfBase
                  value: "9.5"
                  defaultRemunerationComponent:
                    name: Superannuation
                customFields:
                  text_field_api_name:
                    value: Some text value
                  numeric_field_api_name:
                    value: "50"
                  single_select_api_name:
                    value:
                      label: Drama
                  multi_select_api_name:
                    value:
                      labels:
                      - Bananas
                      - Apples
                  people_dropdown_api_name:
                    value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: "00001"
                        autoIncrementIntellihrId: "1000"
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: "00002"
                        autoIncrementIntellihrId: "1001"
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
              recruitment:
                source:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  name: Direct
                cost: 5000
                currency: AUD
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
            schema:
              $ref: '#/components/schemas/job_create_request'
            x-konfig-original-example:
              person:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: "00001"
                autoIncrementIntellihrId: "1000"
              companyStartDate: 2015-03-01T22:30:00+00:00
              companyEndDate: 2015-03-01T22:30:00+00:00
              name: Food Scientist
              businessEntity:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: IntelliHR
                legalName: IntelliHR Systems Limited
                number: 00 000 000 000
              businessUnit:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Engineering
              establishment:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: NewCo Software Engineer
              supervisorPerson:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: "00001"
                autoIncrementIntellihrId: "1000"
              supervisorJob:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Janitor
              location:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Brisbane Office
                address: "1234 Queen Street, Brisbane City QLD 4000"
              workClass:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Casual
              workType:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Permanent
              fte: "1"
              payGrade:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                code: L0
                name: Founder
              employmentCondition:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Professional Employees Award 2010
                awardName: "MA000065: Professional Employees Award 2010 - Fair Work\
                  \ Commission"
              remunerationSchedule:
                type: Annual Salary
                payCycle: Fortnightly
                currency: AUD
                hoursPerCycle: 80
                baseAnnualSalary: 50000
                baseHourlyRate: 24
                additions:
                - name: Referral Bonus
                  type: FixedAmount
                  value: "200"
                  defaultRemunerationComponent:
                    name: Referral Bonus
                additionsToTotal:
                - name: Superannuation
                  type: MultipleOfBase
                  value: "9.5"
                  defaultRemunerationComponent:
                    name: Superannuation
                customFields:
                  text_field_api_name:
                    value: Some text value
                  numeric_field_api_name:
                    value: "50"
                  single_select_api_name:
                    value:
                      label: Drama
                  multi_select_api_name:
                    value:
                      labels:
                      - Bananas
                      - Apples
                  people_dropdown_api_name:
                    value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: "00001"
                        autoIncrementIntellihrId: "1000"
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: "00002"
                        autoIncrementIntellihrId: "1001"
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
              recruitment:
                source:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  name: Direct
                cost: 5000
                currency: AUD
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job_create_response'
          description: Created Successfully
        "400":
          $ref: '#/responses/errors/400'
        "403":
          $ref: '#/responses/errors/403'
        "500":
          $ref: '#/responses/errors/500'
      summary: Create a new Job
      tags:
      - Jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--jobs
      x-content-type: application/json
      x-accepts: application/json
  /jobs/{id}:
    get:
      description: Get a single Job record by UUIDv4 identifier.
      operationId: Jobs_findById
      parameters:
      - description: "Used to configure what date to return this job data for, as\
          \ a [RFC3339](https://tools.ietf.org/html/rfc3339#section-5.6) datetime.\
          \ \n\nAll data returned from the job endpoints represent the values of the\
          \ Person's job attributes at a specific point in time. \n\nBy default, the\
          \ current datetime is used, but this parameter can be used to configure\
          \ a different datetime to see historical data."
        example: 2015-03-01T22:30:00+00:00
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2015-03-01T22:30:00+00:00
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobs'
          description: Success
        "500":
          $ref: '#/responses/errors/500'
      summary: Find a Job by ID
      tags:
      - Jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--jobs-id
      x-accepts: application/json
    patch:
      description: Patch attributes of an existing Job record with the provided data.
      operationId: Jobs_updateAttributes
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              effectiveFrom: 2015-03-01T22:30:00+00:00
              effectiveTo: 2015-03-01T22:30:00+00:00
              name: Food Scientist
              businessEntity:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: IntelliHR
                legalName: IntelliHR Systems Limited
                number: 00 000 000 000
              businessUnit:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Engineering
              establishment:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: NewCo Software Engineer
              jobChangeReason:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
              supervisorPerson:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: "00001"
                autoIncrementIntellihrId: "1000"
              supervisorJob:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Janitor
              location:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Brisbane Office
                address: "1234 Queen Street, Brisbane City QLD 4000"
              workClass:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Casual
              workType:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Permanent
              fte: "1"
              payGrade:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                code: L0
                name: Founder
              employmentCondition:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Professional Employees Award 2010
                awardName: "MA000065: Professional Employees Award 2010 - Fair Work\
                  \ Commission"
              remunerationSchedule:
                type: Annual Salary
                payCycle: Fortnightly
                currency: AUD
                hoursPerCycle: 80
                baseAnnualSalary: 50000
                baseHourlyRate: 24
                additions:
                - name: Referral Bonus
                  type: FixedAmount
                  value: "200"
                  defaultRemunerationComponent:
                    name: Referral Bonus
                additionsToTotal:
                - name: Superannuation
                  type: MultipleOfBase
                  value: "9.5"
                  defaultRemunerationComponent:
                    name: Superannuation
                customFields:
                  text_field_api_name:
                    value: Some text value
                  numeric_field_api_name:
                    value: "50"
                  single_select_api_name:
                    value:
                      label: Drama
                  multi_select_api_name:
                    value:
                      labels:
                      - Bananas
                      - Apples
                  people_dropdown_api_name:
                    value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: "00001"
                        autoIncrementIntellihrId: "1000"
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: "00002"
                        autoIncrementIntellihrId: "1001"
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: "50"
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                    - Bananas
                    - Apples
                people_dropdown_api_name:
                  value:
                  - person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Bruce Wayne
                      primaryEmailAddress: bruce.wayne@example.com
                      employeeNumber: "00001"
                      autoIncrementIntellihrId: "1000"
                    job:
                      id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Maintenance worker
                  - person:
                      id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                      name: Batman
                      primaryEmailAddress: batman@example.com
                      employeeNumber: "00002"
                      autoIncrementIntellihrId: "1001"
                    job:
                      id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                      name: Janitor
            schema:
              $ref: '#/components/schemas/job_patch_request'
            x-konfig-original-example:
              effectiveFrom: 2015-03-01T22:30:00+00:00
              effectiveTo: 2015-03-01T22:30:00+00:00
              name: Food Scientist
              businessEntity:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: IntelliHR
                legalName: IntelliHR Systems Limited
                number: 00 000 000 000
              businessUnit:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Engineering
              establishment:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: NewCo Software Engineer
              jobChangeReason:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
              supervisorPerson:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: "00001"
                autoIncrementIntellihrId: "1000"
              supervisorJob:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Janitor
              location:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Brisbane Office
                address: "1234 Queen Street, Brisbane City QLD 4000"
              workClass:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Casual
              workType:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Permanent
              fte: "1"
              payGrade:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                code: L0
                name: Founder
              employmentCondition:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Professional Employees Award 2010
                awardName: "MA000065: Professional Employees Award 2010 - Fair Work\
                  \ Commission"
              remunerationSchedule:
                type: Annual Salary
                payCycle: Fortnightly
                currency: AUD
                hoursPerCycle: 80
                baseAnnualSalary: 50000
                baseHourlyRate: 24
                additions:
                - name: Referral Bonus
                  type: FixedAmount
                  value: "200"
                  defaultRemunerationComponent:
                    name: Referral Bonus
                additionsToTotal:
                - name: Superannuation
                  type: MultipleOfBase
                  value: "9.5"
                  defaultRemunerationComponent:
                    name: Superannuation
                customFields:
                  text_field_api_name:
                    value: Some text value
                  numeric_field_api_name:
                    value: "50"
                  single_select_api_name:
                    value:
                      label: Drama
                  multi_select_api_name:
                    value:
                      labels:
                      - Bananas
[...]
